node_modules
.pnpm-store

*.log
logs
npm-debug.log*
pnpm-debug.log*

dist
build
coverage
tmp
temp

.next
out

.expo
.expo-shared
android
ios

.env
.env.*
!.env.example

*.sqlite
*.db
prisma/dev.db

generated
generated/prisma

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

.DS_Store
Thumbs.db

.cache
.parcel-cache
.turbo

*.tsbuildinfo

docker-data
postgres-data
redis-data

uploads
storage
backup
backups
